# Node / React (Frontend)
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Logs
logs/
*.log

# Java / Spring Boot / Build Tools (Backend)
target/
build/
.gradle/
bin/
out/
!.mvn/wrapper/maven-wrapper.jar
!.gradle/wrapper/gradle-wrapper.jar

# IDEs & Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
